$personality-card-category-color: #5b00e3;
$character-card-category-color: #0bb5bf;
$activity-card-category-color: #5cbb4e;
$object-card-category-color: #efdf00;
$food-card-category-color: #00a099;
$nature-card-category-color: #187b32;
$place-card-category-color: #ad0505;
$event-card-category-color: #00a527;
$art-card-category-color: #7d4500;
$technology-card-category-color: #27847c;
$clothes-card-category-color: #0500b1;
$movie-card-category-color: #4779e5;
$tv-series-card-category-color: #334433;
$book-card-category-color: #cd5252;
$video-game-card-category-color: #c360f4;
$painting-card-category-color: #ff0000;
$theatre-play-card-category-color: #57a300;
$sculpture-card-category-color: #8e8d8d;
$architecture-card-category-color: #444444;
$music-card-category-color: #e560f4;
$animal-card-category-color: #cea216;
$sport-card-category-color: #ff8700;
$job-card-category-color: #7600a1;

.personality-card-category-color {
    color: $personality-card-category-color !important;
}

.character-card-category-color {
    color: $character-card-category-color !important;
}

.activity-card-category-color {
    color: $activity-card-category-color !important;
}

.object-card-category-color {
    color: $object-card-category-color !important;
}

.food-card-category-color {
    color: $food-card-category-color !important;
}

.nature-card-category-color {
    color: $nature-card-category-color !important;
}

.place-card-category-color {
    color: $place-card-category-color !important;
}

.event-card-category-color {
    color: $event-card-category-color !important;
}

.art-card-category-color {
    color: $art-card-category-color !important;
}

.technology-card-category-color {
    color: $technology-card-category-color !important;
}

.clothes-card-category-color {
    color: $clothes-card-category-color !important;
}

.movie-card-category-color {
    color: $movie-card-category-color !important;
}

.tv-series-card-category-color {
    color: $tv-series-card-category-color !important;
}

.book-card-category-color {
    color: $book-card-category-color !important;
}

.video-game-card-category-color {
    color: $video-game-card-category-color !important;
}

.painting-card-category-color {
    color: $painting-card-category-color !important;
}

.theatre-play-card-category-color {
    color: $theatre-play-card-category-color !important;
}

.sculpture-card-category-color {
    color: $sculpture-card-category-color !important;
}

.architecture-card-category-color {
    color: $architecture-card-category-color !important;
}

.music-card-category-color {
    color: $music-card-category-color !important;
}

.animal-card-category-color {
    color: $animal-card-category-color !important;
}

.sport-card-category-color {
    color: $sport-card-category-color !important;
}

.job-card-category-color {
    color: $job-card-category-color !important;
}

.personality-card-category-border-color {
    border-color: $personality-card-category-color !important;
}

.character-card-category-border-color {
    border-color: $character-card-category-color !important;
}

.activity-card-category-border-color {
    border-color: $activity-card-category-color !important;
}

.object-card-category-border-color {
    border-color: $object-card-category-color !important;
}

.food-card-category-border-color {
    border-color: $food-card-category-color !important;
}

.nature-card-category-border-color {
    border-color: $nature-card-category-color !important;
}

.place-card-category-border-color {
    border-color: $place-card-category-color !important;
}

.event-card-category-border-color {
    border-color: $event-card-category-color !important;
}

.art-card-category-border-color {
    border-color: $art-card-category-color !important;
}

.technology-card-category-border-color {
    border-color: $technology-card-category-color !important;
}

.clothes-card-category-border-color {
    border-color: $clothes-card-category-color !important;
}

.movie-card-category-border-color {
    border-color: $movie-card-category-color !important;
}

.tv-series-card-category-border-color {
    border-color: $tv-series-card-category-color !important;
}

.book-card-category-border-color {
    border-color: $book-card-category-color !important;
}

.video-game-card-category-border-color {
    border-color: $video-game-card-category-color !important;
}

.painting-card-category-border-color {
    border-color: $painting-card-category-color !important;
}

.theatre-play-card-category-border-color {
    border-color: $theatre-play-card-category-color !important;
}

.sculpture-card-category-border-color {
    border-color: $sculpture-card-category-color !important;
}

.architecture-card-category-border-color {
    border-color: $architecture-card-category-color !important;
}

.music-card-category-border-color {
    border-color: $music-card-category-color !important;
}

.animal-card-category-border-color {
    border-color: $animal-card-category-color !important;
}

.sport-card-category-border-color {
    border-color: $sport-card-category-color !important;
}

.job-card-category-border-color {
    border-color: $job-card-category-color !important;
}