.vs__search::placeholder {
    color: #6c757d;
}

.vs__dropdown-option--highlight {
    i {
        color: white !important;
    }
}

.v-select {
    &.is-valid {
        .vs__dropdown-toggle {
            border-color: green;
        }
    }
    &.is-invalid {
        .vs__dropdown-toggle {
            border-color: red;
        }
    }
}